.user-info {
    width: 25%;
    margin-right: 40px;
}

.user-fullname {
    display: block;
    line-height: 30px;
}

.user-username {
    display: block;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
}

h2 {
    padding: 16px 0;
}

.user-image {
    width: 100%;
}

.user-bio {
    font-size: 14px;
    color: #6a737d;
    margin-bottom: 16px;
}

.user-bio>button {
    width: 100%;
}

.edit-button {
    color: #24292e;
    background-color: #eff3f6;
    border: 1px solid rgba(27, 31, 35, .2);
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    height: 34px;
    border-radius: .25em;
    font-size: 14px;
    font-weight: bold;
}


.edit-button:hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27, 31, 35, .35);
}

.user-details {
    padding-top: 16px;
    border-top: 1px #e1e4e8 solid;
    font-size: 14px;
}

.user-details>ul>li {
    padding-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-details>ul>li>svg {
    float: left;
    margin-right: 5px;
}

@media only screen and (max-width: 900px) {
    .user-info {
        width: 40%;
    }
}

@media only screen and (max-width: 320px) {
    .user-info {
        width: 100%;
        margin-right: 0;
    }

    .user-name {
        text-align: center;
    }
}